.counter_container{
    border: 1px solid #000;
    border-radius: 50px;
    display: inline-block;
    width: auto;
    padding: 5px 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.counter_container button{
    -webkit-appearance: none;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    background-image: url('../../assets/images/icon-minus.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 10px;
    height: 10px;
}

.counter_container button.inc{
    background-image: url('../../assets/images/icon-plus.svg');
}

.counter_container span{
    width: 40px;
    display: inline-block;
    text-align: center;
}