.button_icon_container{
    display: inline-flex;
    cursor: pointer;
    margin: 10px 10px 0 0;

    img{
        margin-right: 5px;
    }

    span{
        color: #1eb2ef;
        font-weight: bold;
        font-size: 14px;
    }

}